* {
    margin: 0;
    padding: 0;

}

body {
    padding: 4vh;
    background: linear-gradient(to right, #f4f4f4, #e0e0e0);
    color: #333333;
    font-family: 'Open Sans', sans-serif;

}

h1 {
    text-align: center;
    color: #007BFF;
}

h3{
    margin-top: 30px;
    padding-left: 6px;
}

#wrapper {
    margin-top: 30px;
}

.container {
    font-weight: 500;
    background-color: #ffffff;
    display: flex;
    justify-content: start;
    align-items: center;
    column-gap: 20px;
    padding: 25px 15px;
    border-bottom: 1px solid #dcdcdc;
    border-radius: 12px;
    margin-top: 20px;

    cursor: pointer;
}


/* Disable tap effect on mobile devices */
.container:active {
    -webkit-tap-highlight-color: transparent;
}

.container i {
    font-size: large;
    color: #3366cc;
}

.fa-angle-right {
    margin-left: auto;
    padding-right: 5px;
}

@media only screen and (min-width: 600px) {
    h1 {
        font-family: 'Roboto', sans-serif;
    }

    body {
        max-width: 50vw;
        margin-left: auto;
        margin-right: auto;
    }

    .container {
        padding: 35px 20px;
    }
}